<div class="main-page">
  <h1>
    Welcome to the MoviePool!
  </h1>

  <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
    Sign Up
  </button>

  <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px;" color="primary">
    Login
  </button>
</div>

<style>
  /* rocket launch - delete soon-ish */
  .card {
    align-items: center;
    background-color: #1976d2;
    border: none;
    color: white;
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin-top: 32px;
    padding: 12px;
    width: 100%;
  }

  svg#rocket {
    height: 30px;
    margin-right: 16px;
    width: 30px;
  }
</style>
