<div class="movie-details">
  <mat-card>
    <mat-card-content>
      <div class="movie-details-head">
        <img src={{data.imagePath}} alt={{data.title}} />

        <div class="movie-details-titleinfo">
          <mat-card-title>{{data.title}}</mat-card-title>
          <h2>Plot</h2>
          <p>{{data.description}}</p>
        </div>
      </div>

      <div class="movie-details-body">
        <h4>Director</h4>
        <p>{{data.directorName}}</p>
        <h4>Bio</h4>
        <p>{{data.bio}}</p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button mat-dialog-close class="btn-close">
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>
