<div class="mat-card--movie-details">
  <mat-card>
    <mat-card-content>
      <div>
        <img src="https://media-cache.cinematerial.com/p/500x/wdep10n0/forrest-gump-movie-poster.jpg" alt="" />
        <div>
          <mat-card-title>movie.title</mat-card-title>
          <h2>Plot</h2>
          <p>movie.description</p>
        </div>
      </div>

      <div>
        <h4>Director</h4>
        <p>movie.director.directorName</p>

        <h4>More details about directorName</h4>
        <p>movie.director.bio</p>

        <h4>Genre</h4>
        <p>movie.genre.genreName</p>

        <h4>More details about the genre movie.genre.genreName</h4>
        <p>movie.genre.description</p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>
