.movie-details {
  color: #282828;

  & .movie-details-head {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  & img {
    @media screen and (min-width: 480px) {
      width: 35%;
    }

    @media screen and (min-width: 768px) {
      width: 45%;
      margin-right: 1rem;
    }
  }

  & mat-card-title,
  & h4 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  & .movie-details-titleinfo {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  & .btn-close {
    background-color: #B388FF;
    color: #fff;
  }
}
