.movie-director {
  color: #282828;

  & mat-card-title {
    font-size: 1.25rem;
    font-weight: 700;
  }

  & mat-card-actions {
    padding-left: 16px;
    padding-right: 16px;
  }

  & .btn-close {
    background-color: #B388FF;
    color: #fff;
  }
}
