<app-topbar></app-topbar>

<mat-card class="user-profile">
  <mat-card-header class="user-profile-header">
    <mat-card-title>User Profile</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <h3>Your registration details:</h3>
      <div><strong>Your name: </strong>{{user.userName}}</div>
      <div><strong>Your email: </strong> {{user.email}}</div>
    </div>

    <div>
      <h3>Update your information here:</h3>

      <form class="user-profile-form">
        <mat-form-field>
          <input matInput [(ngModel)]="updatedUser.userName" placeholder="Username" type="text" name="Username"
            required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="updatedUser.password" placeholder="Password" type="password" name="Password"
            required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="updatedUser.email" placeholder="Email" type="email" name="Email" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="updatedUser.birthDate" placeholder="Birthday" type="date" name="Birthday"
            required>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="updateProfile()">
      Update user info
    </button>

    <button mat-raised-button color="warn" (click)="deleteUser()" class="btn-delete">
      Delete your account
    </button>

    <button mat-raised-button mat-dialog-close class="btn-close">
      Close
    </button>
  </mat-card-actions>
</mat-card>
